<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Easy</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style3.css">
<link rel="stylesheet" href="../static/footer.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="../static/images/cropeasy.png" alt="LOGO">
        </div>
        <ul class="nav-area">
            <li><a href="index.html">Home</a></li>
                <li><a href="crop.html">Crops</a></li>
                <li><a href="contact.html">Contact</a></li>
        </ul>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.418992474025!2d72.88677021393751!3d19.045307187105493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8add9569a29%3A0xb7ad04bf9a389df7!2sVivekanand%20Education%20Society&#39;s%20Institute%20Of%20Technology%20(VESIT)!5e0!3m2!1sen!2sin!4v1664790728079!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
            <h3>Contact information</h3>

            <p class="mb-4">We're open for any suggestion or just to have a chat</p>
            <p class="mb-4">Made by: Atharva Sardal, Ashish Patil, Khalid Sayyed, Sayali Kawatkar</p>
            <p class="mb-4" style="margin-bottom: 30px;">This website is a part project we had to build for AI-Hackathon which happened at VESIT on 1st October, 2022.</p>
            <div class="dbox w-100 d-flex align-items-start">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-map-marker"></span>
            </div>
            <div class="text pl-3">
            <p><span>Address:</span> VESIT, Hashu Advani Memorial Complex, Collector's Colony
                Chembur, Mumbai, Maharashtra 400074</p>
            </div>
            </div>
            <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-phone"></span>
            </div>
            </div>
            <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-paper-plane"></span>
            </div>
            <div class="text pl-3" style="margin-bottom: 300px;">
            <p><span>Atharva's Email:</span> <a href="mailto:2021.atharva.sardal@ves.ac.in">2021.atharva.sardal@ves.ac.in</a></p>
            <p><span>Ashish's Email:</span> <a href="mailto:2021.2021.ashish.patil@ves.ac.in">2021.ashish.patil@ves.ac.in</a></p>
            </div>
            </div>

            <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-globe"></span>
         
            </div>
            </div>
            </div>
        <footer>
            <div class="footer-content">
                <h3>Crop Easy</h3>
                <p>Gives accurate crop recommendations based on soil type, temperature, humidity and other important factors</p>
                <p>Made by: Atharva Sardal, Ashish Patil, Khalid Sayyed, Sayali Kawatkar</p>
            </div>
            <div class="footer-bottom">
                        </div>
            </div>
            <a href="index.html" class="move-top text-center"></a>
        </footer>
    
</body>
</html>