<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Crop Easy</title>
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/footer.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

	
</head>

<body>
    <div class="wrapper">
            <div class="logo">
                <img src="../static/images/cropeasy.png" alt="LOGO">
            </div>
            <ul class="nav-area">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('crop_recommend') }}">Crops</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            </div>
            <div class="welcome-text">
                <h1>CROP EASY</h1>
                <p style="font-size: 20px;">Get crop recommendations with a single click!</p>
            </div>
    </div>
    <button class="button-86" role="button"><a style="font-family: 'Roboto Condensed', sans-serif;font-weight: bolder; color:black; font-size: 20px;" href="{{ url_for('crop_recommend') }}">Click here</a></button>
    <footer>
        <div class="footer-content">
            <h3>Crop Easy</h3>
            <p>Gives accurate crop recommendations based on soil type, temperature, humidity and other important factors</p>
            <p>Made by: Atharva Sardal, Ashish Patil, Khalid Sayyed, Sayali Kawatkar</p>
        </div>
        <div class="footer-bottom">
                    </div>
        </div>
        <a href="" class="move-top text-center"></a>
    </footer>
	
</body>
</html>
